/NADIA_package/.RData
/NADIA_package/.Rhistory
/NADIA_package/NADIA/.Rproj.user/
/NADIA_package/NADIA/.Rhistory
/NADIA_package/NADIA/.RData
/NADIA_package/NADIA/.Rhistory
/NADIA_package/NADIA/.RData
/NADIA_package/NADIA/.Rproj.user
/NADIA_package/NADIA/NADIA.Rproj
.Rproj.user
