/EMMA_package/.RData
/EMMA_package/.Rhistory
/EMMA_package/EMMA/.Rproj.user/
/EMMA_package/EMMA/.Rhistory
/EMMA_package/EMMA/.RData
/EMMA_package/EMMA/.Rhistory
/EMMA_package/EMMA/.RData
/EMMA_package/EMMA/.Rproj.user
